{% extends "template.html" %}

{% load el_pagination_tags %}
{% load filters %}

{% block ptitle %}Image Cutouts : Mini-MegaTORTORA Sky Survey{% endblock %}

{% block title %}Image cutouts from Mini-MegaTORTORA archive{% endblock %} %}

{% block content %}

  {% if images %}
    <div class="alert alert-success" role="alert">
      {{ images|qs_length}} image cutouts around {{ request.GET.ra|floatformat:3 }} {{request.GET.dec|floatformat:3 }}
      with {{ request.GET.sr|floatformat:2 }}</b> deg radius
    </div>
  {% else %}
    <div class="alert alert-success" role="alert">
      No images are found to cover position {{ request.GET.ra|floatformat:3 }} {{request.GET.dec|floatformat:3 }}
    </div>
  {% endif %}

<div class="pull-right">
  {% if request.GET.singlepage %}
    <a href="?{{ request.GET|GET_remove:"singlepage"|GET_urlencode }}" title="Show pagination">Multi-page</a>
  {% else %}
    <a href="?{{ request.GET|GET_append:"singlepage"|GET_urlencode }}" title="Show all images on single page">Single-page</a>
  {% endif %}

</div>

{% include 'images_filter.html' %}

{% if not request.GET.singlepage %}
  {% if request.GET.per100 %}
    {% paginate 100 images %}
  {% else %}
    {% paginate 20 images %}
  {% endif %}
{% endif %}
  <table class="table table-striped table-sm">
    <tr>
      <th>Id</th>
      <th>Time, UT</th>
      <th>Night</th>
      <th>Filter</th>
      <th>Exposure</th>
      <th>Channel</th>
      <th>Dist</th>
      <th>Preview</th>
      <th></th>
    </tr>
    {% for image in images %}
      <tr>
        <td><a href="{% url 'image_details' image.id %}" title="View image details"><i class="fa fa-file-image-o"></i> {{ image.id }}</a></td>
        <td>{{ image.time|date:"Y-m-d H:i:s" }}</td>

        {% with text="night="|addstr:image.night %}
          <td><a href="?{{ request.GET|GET_remove:"night"|GET_remove:"night1"|GET_remove:"night2"|GET_append:text|GET_urlencode }}">{{ image.night }}</a></td>
        {% endwith %}

        {% with text="filter="|addstr:image.filter %}
          <td><a href="?{{ request.GET|GET_remove:"filter"|GET_append:text|GET_urlencode }}">{{ image.filter }}</a></td>
        {% endwith %}

        <td>{{ image.exposure }}</td>

        {% with text="channel="|addstr:image.channel %}
          <td><a href="?{{ request.GET|GET_remove:"channel"|GET_append:text|GET_urlencode }}">{{ image.channel }}</a></td>
        {% endwith %}

        <td title="Distance from frame center">{{ image.dist|floatformat:2 }}</td>

        <td><a href="{% url 'image_cutout' image.id %}?ra={{ request.GET.ra }}&dec={{ request.GET.dec }}&sr={{ request.GET.sr }}" title="View image">
          <img src="{% url 'image_cutout_preview' image.id %}?ra={{ request.GET.ra }}&dec={{ request.GET.dec }}&sr={{ request.GET.sr }}" class="img-thumbnail">
        </a></td>

        <td><a href="{% url 'image_cutout_download' image.id %}?ra={{ request.GET.ra }}&dec={{ request.GET.dec }}&sr={{ request.GET.sr }}" title="Download FITS"><i class="fa fa-download"></i> </a></td>

      </tr>
    {% endfor %}
  </table>

{% if not request.GET.singlepage %}
  {% show_pages %}
{% endif %}

{% endblock %}
